/target
.idea/
/old_builds
*.data
*.data.old
tests/soaktest-*
*.gz
/.vscode
/shotover-proxy/example-configs/redis-tls/certs
/shotover-proxy/example-configs/cassandra-tls/certs/*.jks
/shotover-proxy/example-configs/cassandra-tls/certs/*.p12
/shotover-proxy/example-configs/cassandra-tls/certs/*.key
/shotover-proxy/example-configs/cassandra-tls/certs/*.srl
/shotover-proxy/example-configs/cassandra-tls/certs/*.csr
/shotover-proxy/example-configs/cassandra-tls/certs/*.crt
.workspace.code-workspace
/test_tmp
output.txt
**/.DS_Store
/.project
/test_data
/docs/book
/docs/mdbook_bin
shotover-proxy/read-localhost:9042.json
shotover-proxy/read-localhost:9043.json
