/target
.idea/
/old_builds
*.data
*.data.old
tests/soaktest-*
*.gz
/.vscode
/shotover-proxy/example-configs/redis-tls/tls_keys
.workspace.code-workspace
/test_tmp
output.txt
**/.DS_Store
/.project
/test_data
/docs/book
/docs/mdbook_bin
shotover-proxy/read-localhost:9042.json
shotover-proxy/read-localhost:9043.json
