/target
.idea/
*.gz
/.vscode
/shotover-proxy/tests/test-configs/valkey/tls/certs
/shotover-proxy/tests/test-configs/cassandra/tls/certs
/shotover-proxy/tests/test-configs/kafka/tls/certs
/shotover-proxy/tests/test-configs/valkey/syslog-ng/json/log
/shotover-proxy/tests/test-configs/valkey/syslog-ng/raw-text/log
.workspace.code-workspace
**/.DS_Store
/.project
/docs/book
/docs/mdbook_bin
/website/root
/website/shotover_repo_for_docs
/shotover-proxy/build/packages
/some_local_file
/test-helpers/src/connection/kafka/node/node_modules
