[workspace]
members = ["windsock", "shotover", "shotover-proxy", "test-helpers", "custom-transforms-example", "ec2-cargo"]
resolver = "2"

# https://deterministic.space/high-performance-rust.html
[profile.release]
lto = "fat"
codegen-units = 1

[profile.bench]
lto = "fat"
codegen-units = 1

# used for e.g. generating flamegraphs
[profile.profiling]
inherits = "release"
lto = false
debug = true
codegen-units = 1

[workspace.dependencies]
scylla = { version = "0.9.0", features = ["ssl"], git = "https://github.com/scylladb/scylla-rust-driver/" }
bytes = "1.0.0"
tokio = { version = "1.25.0", features = ["full", "macros"] }
tokio-util = { version = "0.7.7" }
tokio-openssl = "0.6.2"
itertools = "0.10.1"
openssl = { version = "0.10.36", features = ["vendored"] }
anyhow = "1.0.42"
serde = { version = "1.0.111", features = ["derive"] }
serde_yaml = "0.9.17"
uuid = { version = "1.0.0", features = ["serde", "v4"] }
reqwest = "0.11.6"
redis = { version = "0.23.0", features = ["tokio-comp", "cluster"] }
cdrs-tokio = "8.0"
cassandra-protocol = "3.0"
tracing = "0.1.15"
tracing-subscriber = { version = "0.3.1", features = ["env-filter", "json"] }
tracing-appender = "0.2.0"
nix = "0.26.0"
serde_json = "1.0"
rcgen = "0.10.0"
subprocess = "0.2.7"
chacha20poly1305 = { version = "0.10.0", features = ["std"] }
csv = "1.2.0"
redis-protocol = { version = "4.0.1", features = ["decode-mut"] }
bincode = "1.3.1"
futures = "0.3"
hex = "0.4.3"
hex-literal = "0.4.1"
rand = "0.8.4"
rand_distr = "0.4.1"
clap = { version = "4.0.4", features = ["cargo", "derive"] }
async-trait = "0.1.30"
typetag = "0.2.5"
aws-throwaway = "0.2.0"
tokio-bin-process = "0.3.0"