[workspace]
members = [
    "shotover-proxy",
    "test-helpers",
    "tokio-bin-process",
]

# https://deterministic.space/high-performance-rust.html
[profile.release]
lto = "fat"
codegen-units = 1

[profile.bench]
lto = "fat"
codegen-units = 1

[workspace.dependencies]
bytes = "1.0.0"
tokio-openssl = "0.6.2"
tokio = { version = "1.25.0", features = ["full", "macros"] }
itertools = "0.10.1"
openssl = { version = "0.10.48", features = ["vendored"] }
anyhow = "1.0.42"
serde = { version = "1.0.111", features = ["derive"] }
serde_yaml = "0.9.17"
uuid = { version = "1.0.0", features = ["serde", "v4"] }
reqwest = "0.11.6"
redis = { version = "0.22.0", features = ["tokio-comp", "cluster"] }
cdrs-tokio = { git = "https://github.com/krojew/cdrs-tokio" }
cassandra-protocol = { git = "https://github.com/krojew/cdrs-tokio" }
tracing = "0.1.15"
tracing-subscriber = { version = "0.3.1", features = ["env-filter", "json"] }
nix = "0.26.0"
serde_json = "1.0"
rcgen = "0.10.0"
subprocess = "0.2.7"
