[package]
name = "shotover"
version = "0.1.9"
authors = ["Ben <ben@instaclustr.com>"]
edition = "2021"
rust-version = "1.56"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# Include WIP alpha transforms in the public API
alpha-transforms = []

[dependencies]
atomic_enum = "0.2.0"
pretty-hex = "0.3.0"
tokio-stream = "0.1.2"
bytes-utils = "0.1.1"
derivative = "2.1.1"
cached = "0.42"
async-recursion = "1.0"
governor = { version = "0.5.0", default-features = false, features = ["std", "jitter", "quanta"] }
nonzero_ext = "0.3.0"
version-compare = "0.1"
rand = { features = ["small_rng"], workspace = true }
clap.workspace = true
itertools.workspace = true
rand_distr.workspace = true
bytes.workspace = true
futures.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tokio-openssl.workspace = true
openssl.workspace = true
csv.workspace = true
hex.workspace = true
hex-literal.workspace = true
async-trait.workspace = true
typetag.workspace = true

# Error handling
thiserror = "1.0"
anyhow.workspace = true
backtrace = "0.3.66"

# Parsers
cql3-parser = "0.3.2"
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
bincode.workspace = true
num = { version = "0.4.0", features = ["serde"] }
uuid.workspace = true
bigdecimal = {version ="0.3.0", features = ["serde"] }
base64 = "0.21.0"

#Observability
metrics = "0.20.0"
metrics-exporter-prometheus = "0.11.0"
tracing.workspace = true
tracing-subscriber.workspace = true
tracing-appender = "0.2.0"
hyper = { version = "0.14.14", features = ["server"] }
halfbrown = "0.1.11"

# Transform dependencies
redis-protocol.workspace = true
cassandra-protocol.workspace = true
crc16 = "0.4.0"
ordered-float = { version = "3.0.0", features = ["serde"] }

#Crypto
rusoto_kms = "0.48.0"
rusoto_signature = "0.48.0"
strum_macros = "0.24"
chacha20poly1305 = { version = "0.10.0", features = ["std"] }
generic-array = { version = "0.14", features = ["serde"] }
dyn-clone = "1.0.10"
kafka-protocol = "0.6.0"
