[package]
name = "shotover-proxy"
version = "0.0.23"
authors = ["Ben <ben@instaclustr.com>"]
edition = "2021"
rust-version = "1.56"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.11.0", features = ["full", "macros"] }
tokio-util = { version = "0.6.1", features = ["full"] }
tokio-stream = "0.1.2"
bytes = "1.0.0"
futures = "0.3.12"
futures-core = "0.3.1"
async-trait = "0.1.30"
byteorder = "1.3.2"
clap = "=3.0.0-beta.5"
clap_derive = "=3.0.0-beta.5"
derivative = "2.1.1"
itertools = "0.10.1"
rand = { version = "0.8.4" }
rand_distr = "0.4.1"
cached = "0.26.2"
pin-project-lite = "0.2"
tokio-openssl = "0.6.2"
openssl = { version = "0.10.36", features = ["vendored"] }
async-recursion = "0.3"

# Error handling
thiserror = "1.0"
anyhow = "1.0.31"

# Parsers
sqlparser = "= 0.5.0"
serde = { version = "1.0.111", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8.21"
bincode = "1.3.1"

#Observability
metrics = "0.17.0"
metrics-exporter-prometheus = "0.6.0"
tracing = { version = "0.1.15", features = ["release_max_level_info"] }
tracing-subscriber = { version = "0.3.1", features = ["env-filter"] }
tracing-log = { version = "0.1.1", features = ["env_logger"] }
tracing-appender = "0.2.0"
hyper = { version = "0.14.14", features = ["server"] }
halfbrown = "0.1.11"

# Transform dependencies
redis-protocol = "3.0.1"
cassandra-proto = { git = "https://github.com/shotover/cassandra-proto", branch = "OPTION_fix", features = ["v4"]}
rdkafka = { version = "0.27", features = ["cmake-build"] }
crc16 = { version = "0.4.0" }

#Crypto
sodiumoxide = "0.2.5"
rusoto_kms = "0.47.0"
rusoto_signature = "0.47.0"
csv = "1.1.6"

[dev-dependencies]
criterion = { version = "0.3", features = ["async_tokio", "html_reports"] }
redis = { version = "0.21.0", features = ["tokio-comp", "cluster"] }
pcap = "0.9.0"
pktparse = {version = "0.7.0", features = ["serde"]}
dns-parser = "0.8"
tls-parser = "0.11.0"
threadpool = "1.0"
tokio-io-timeout = "1.1.1"
num_cpus = "1.0"
serial_test = "0.5.1"
cassandra-cpp = "0.17.0"
test-helpers = { path = "../test-helpers" }
hex-literal = "0.3.3"
nix = "0.23.0"
reqwest = "0.11.6"

[[bench]]
name = "redis_benches"
harness = false

[[bench]]
name = "chain_benches"
harness = false
