[package]
name = "shotover-proxy"
version = "0.0.21"
authors = ["Ben <ben@instaclustr.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.6.1", features = ["full", "macros"] }
tokio-util = { version = "0.6.1", features = ["full"]}
tokio-stream = "0.1.2"
bytes = "1.0.0"
futures = "0.3.12"
futures-core = "0.3.1"
chrono = {version = "0.4.10",  features = ["serde"]}
async-trait = "0.1.30"
byteorder = "1.3.2"
clap = "3.0.0-beta.1"
derivative = "2.1.1"
#evmap = {version = "11.0.0-alpha.7"}
itertools = "0.10.1"
rand = { version = "0.8.4", features = ["small_rng", "std"]}
rand_distr = "0.4.1"
cached = "0.25.0"
pin-project = "1.0.1"
pin-project-lite = "0.2"

# Error handling
thiserror = "1.0"
anyhow = "1.0.31"

# Parsers
sqlparser = "= 0.5.0"
serde = { version = "1.0.111", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
bincode = "1.3.1"

#Observability
metrics = "0.17.0"
metrics-exporter-prometheus = "0.6.0"
tracing = { version = "0.1.15", features = ["release_max_level_info"]}
tracing-subscriber = { version = "0.2.11", features = ["env-filter"]}
tracing-futures = "0.2.4"
tracing-log = { version = "0.1.1", features = ["env_logger"] }
tracing-appender = "0.1.1"
hyper = { version = "0.14.2", features = ["server"] }
halfbrown = "0.1.11"

# Transform dependencies
redis-protocol = { git = "https://github.com/benbromhead/redis-protocol.rs", branch = "remove-parser" }

cassandra-proto = { git = "https://github.com/benbromhead/cassandra-proto", branch = "move-to-bytes", features = ["v4"]}
rdkafka = { version = "0.26", features = ["cmake-build"] }
crc16 = { version = "0.4.0"}

#lua
mlua = { version = "0.4.1", features = ["async","send", "vendored","lua53"] }
mlua_serde = { version = "0.5", features = ["lua53"] }

#wasm
wasmer-runtime = "0.17.1"

#Crypto
sodiumoxide = "0.2.5"
rusoto_kms = "0.47.0"
rusoto_signature = "0.47.0"

[dev-dependencies]
criterion = { version = "0.3", features = ["async_tokio", "html_reports"] }
redis = { version = "0.21.0", features = ["tokio-comp", "cluster"] }
pcap = "0.8.1"
pktparse = {version = "0.6.1", features = ["serde"]}
dns-parser = "0.8"
tls-parser = "0.10.0"
threadpool = "1.0"
num_cpus = "1.0"
serial_test = "0.5.1"
test-helpers = { path = "../test-helpers" }
hex-literal = "0.3.3"
ureq = "2.2.0"

[[bench]]
name = "redis_benches"
harness = false
