[package]
name = "shotover-proxy"
version = "0.1.1"
authors = ["Ben <ben@instaclustr.com>"]
edition = "2021"
rust-version = "1.56"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# Include WIP alpha transforms in the public API
alpha-transforms = []

[dependencies]
tokio = { version = "1.14.0", features = ["full", "macros"] }
tokio-util = { version = "0.6.1", features = ["full"] }
tokio-stream = "0.1.2"
bytes = "1.0.0"
bytes-utils = "0.1.1"
futures = "0.3.12"
futures-core = "0.3.1"
async-trait = "0.1.30"
byteorder = "1.3.2"
clap = { version = "3.0.4", features = ["cargo", "derive"] }
derivative = "2.1.1"
itertools = "0.10.1"
rand = { version = "0.8.4" }
rand_distr = "0.4.1"
cached = "0.30"
pin-project-lite = "0.2"
tokio-openssl = "0.6.2"
openssl = { version = "0.10.36", features = ["vendored"] }
async-recursion = "1.0"

# Error handling
thiserror = "1.0"
anyhow = "1.0.31"

# Parsers
sqlparser = "0.13"
serde = { version = "1.0.111", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8.21"
bincode = "1.3.1"
num = { version = "0.4.0", features = ["serde"] }
uuid = { version = "0.8.2", features = ["serde"]}
bigdecimal = {version ="0.3.0", features = ["serde"]}

#Observability
metrics = "0.18.0"
metrics-exporter-prometheus = "0.8.0"
tracing = { version = "0.1.15", features = ["release_max_level_info"] }
tracing-subscriber = { version = "0.3.1", features = ["env-filter"] }
tracing-log = { version = "0.1.1", features = ["env_logger"] }
tracing-appender = "0.2.0"
hyper = { version = "0.14.14", features = ["server"] }
halfbrown = "0.1.11"

# Transform dependencies
redis-protocol = { version = "4.0.1", features = ["decode-mut"] }
cassandra-protocol = { git = "https://github.com/krojew/cdrs-tokio" }
rdkafka = "0.28"
crc16 = "0.4.0"
ordered-float = { version = "2.8.0", features = ["serde"] }

#Crypto
sodiumoxide = "0.2.5"
rusoto_kms = "0.47.0"
rusoto_signature = "0.47.0"
csv = "1.1.6"
strum_macros = "0.23"

[dev-dependencies]
criterion = { git = "https://github.com/bheisler/criterion.rs", branch = "version-0.4", version = "0.3", features = ["async_tokio", "html_reports"] }
redis = { version = "0.21.0", features = ["tokio-comp", "cluster"] }
pcap = "0.9.0"
pktparse = {version = "0.7.0", features = ["serde"]}
tls-parser = "0.11.0"
threadpool = "1.0"
tokio-io-timeout = "1.1.1"
num_cpus = "1.0"
serial_test = "0.5.1"
cassandra-cpp = "0.17.0"
test-helpers = { path = "../test-helpers" }
hex-literal = "0.3.3"
nix = "0.23.0"
reqwest = "0.11.6"

[[bench]]
name = "redis_benches"
harness = false

[[bench]]
name = "chain_benches"
harness = false
