[package]
name = "test-helpers"
version = "0.1.0"
edition = "2021"
rust-version = "1.56"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tracing = "0.1.15"
subprocess = "0.2.7"
anyhow = "1.0.42"
regex = "1.5.5"
nix = "0.25.0"
rcgen = "0.9.2"
