name: Benchmarks

on:
  pull_request:
    branches: [ main ]

# Cancel already running jobs
concurrency:
  group: benchmark_run_${{ github.head_ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  benchmarks:
    runs-on: ubuntu-18.04
    name: Benchmarks
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
          # `toolchain: stable` results in the latest stable toolchain being installed.
          # However as soon as we use cargo the real version specified in rust-toolchain.toml replaces the stable toolchain.
          #
          # When something like https://github.com/actions-rs/toolchain/pull/184 lands we can delete this line and get a nice speedup
          profile: minimal
          toolchain: stable
    - uses: Swatinem/rust-cache@v1
      with:
        # Unique key is used to avoid collisions with the Testing workflow
        key: 'ubuntu-18.04-benchmark'
    - name: Install ubuntu packages
      run: shotover-proxy/build/install_ubuntu_packages.sh
    - name: Run benchmarks
      run: shotover-proxy/tests/scripts/bench_against_master.sh ${{ github.event.number }}
    - name: Upload comment artifact
      uses: actions/upload-artifact@v2
      with:
        name: comment_info
        path: comment_info/
