name: Benchmarking

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ./cache
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Install libpacap
      run: sudo apt-get install -y gnuplot
    - name: Install latest stable
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          override: true
    - name: Benchmark
      run:  cargo bench --bench redis_benches -- --output-format bencher --noplot | tee output.txt
    - name: Store benchmark result
      uses: rhysd/github-action-benchmark@v1
      with:
        tool: 'cargo'
        output-file-path: output.txt
        external-data-json-path: ./cache/benchmark-data.json
        comment-on-alert: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Cleanup docker
      run: ./tests/scripts/teardown.sh
      if: ${{ always() }}
