name: Benchmarks

on:
  pull_request:
    branches: [ main ]

# Cancel already running jobs
concurrency:
  group: benchmark_run_${{ github.head_ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  benchmarks:
    runs-on: ubuntu-20.04
    name: Benchmarks
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        # PRs do not share caches, instead each PR initially pulls from the cache of the main branch for the first run.
        # This workflow does not run on main, so to make use of a cache before this workflow has completed once on a PR,
        # we need to manually recreate the key used by ubuntu-20.04 release builds.
        shared-key: "ubuntu-20.04 - --release-build_check_and_upload"
        save-if: false
    - name: cache custom ubuntu packages
      uses: actions/cache@v3
      with:
        path: shotover-proxy/build/packages
        key: ubuntu-20.04-packages
    - name: Install ubuntu packages
      run: shotover-proxy/build/install_ubuntu_packages.sh
    - name: Run benchmarks
      run: shotover-proxy/tests/scripts/bench_against_master.sh ${{ github.event.number }}
    - name: Upload comment artifact
      uses: actions/upload-artifact@v2
      with:
        name: comment_info
        path: comment_info/
